
.menu-button {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 0.5em;
    -fx-text-alignment: center;

}

.menu-button:hover, .menu-button:focused, .menu-button:showing {
    -fx-background: #d3d3d3;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-text-alignment: center;
}
.menu-button .arrow{
    -fx-background-color: black;

}

.menu-button .label{
    -fx-font: bold 16pt "Arial";
    -fx-text-alignment: center;
}





.context-menu {
     -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
     -fx-background-color:#e0e0e0;
 }
.menu-item {
     -fx-background-color: #e0e0e0;
     -fx-text-fill: black;
     -fx-padding: 0.5em;

 }
.menu-item:hover {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:#d3d3d3;
    -fx-opacity: 0.9;
    -fx-padding: 0.5em;

}

.menu-item .label{
    -fx-text-fill: #2a363b;

}